.button {
  background-color: $color-primary;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  color: $color-text-contrast;
  display: block;
  padding: 10px;
  text-align: center;
  width: 100%;
}
