.social {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__item {
  margin-right: 16px;

  &:last-of-type {
    margin-right: 0;
  }
}

.social__link {
  align-items: center;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  display: flex;
  height: 52px;
  justify-content: center;
  line-height: 0;
  width: 52px;

  &--ok {
    border-color: #ef8116;
  }

  &--facebook {
    border-color: #414594;
  }

  &--twitter {
    border-color: #3aaae3;
  }

  &--vk {
    border-color: #416da1;
  }
}
