.widget {
  display: block;
  font-family: $font-default;
  margin: 30px auto;
  max-width: $widget-width;
  width: 100%;
}

.widget__header {
  background-color: $color-primary;
  position: relative;
}

.widget__main {
  background-color: #ffffff;
}

.widget__footer {
  background-color: $color-primary;
}

.widget__heading {
  color: $color-text-contrast;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.widget__close {
  background: transparent;
  border: none;
  color: $color-text-contrast;
  cursor: pointer;
  display: block;
  font-size: 10px;
  line-height: 13px;
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.widget__order-number {

  color: $color-accent;
  display: inline;
}

.widget__discount {
  color: $color-accent;
  font-size: 25px;
  font-weight: bold;
  line-height: 28px;
}

.widget__name {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
}

.widget__text {
  font-size: 14px;
  line-height: 18px;
}

.widget__promo-link {
  color: $color-primary;
  font-size: 14px;
  line-height: 18px;
}

.widget__rules-link {
  color: $color-text-contrast;
  font-size: 12px;
  line-height: 18px;
}

.widget__terms-link {
  color: $color-text-contrast;
  font-size: 12px;
  line-height: 18px;
}
