include ./pug/form
include ./pug/social

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Виджет
    link(rel="stylesheet" type="text/css" href="style.css")
    link(rel="preload" href='fonts/ALSSchlangesans-Black.woff2' as='font' crossorigin='anonymous')
    link(rel="preload" href='fonts/ALSSchlangesans-Black.woff' as='font' crossorigin='anonymous')
    link(rel="preload" href='fonts/RotondaC.woff2' as='font' crossorigin='anonymous')
    link(rel="preload" href='fonts/RotondaC.woff' as='font' crossorigin='anonymous')
    link(rel="preload" href='fonts/RotondaCBold.woff2' as='font' crossorigin='anonymous')
    link(rel="preload" href='fonts/RotondaCBold.woff' as='font' crossorigin='anonymous')
  body
    section.widget
      header.widget__header
        h2.visually-hidden Подтверждение заказа
        button.widget__close(aria-label="Закрыть окно")
        p.widget__heading
          | Ваш заказ №
          span.widget__order-number 1890998
          |
          | принят и находится в обработке
      main.widget__main
        div.widget__name-group
          p.widget__name Михаил Иванович!
          p.widget__discount 10%
        p.widget__text подарите друзьям скидку в&nbsp;«CompanyName» и получите скидку в&nbsp;подарок, за каждого друга
        +social('widget__social')
        +form('widget__form')
      footer.widget__footer
        p.widget__promo-link http://floctoryblablabla/#########
        a.widget__rules-link(href="#") Правила акции
        a.widget__terms-link(href="#") Пользовательское соглашение
  script(type="text/javascript" src="picturefill.min.js")
