$widget-width: 300px;

$font-default: "RotondaC", sans-serif;
$font-accent: "ALSSchlangesans-Black", sans-serif;

$color-primary: #2856a8;
$color-accent: #f1d02f;
$color-text-contrast: #ffffff;
$color-text-default: #484848;
$color-border: #d9d9d9;
